.root {
  text-align: center;
}
.main {
  --gap: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: var(--gap);
}

.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.animation-form {
  width: 320px;
}
.frame-form {
  width: 320px;
}
.stage {
  flex-grow: 1;
}

.main,
.stage,
.animation-form,
.frame-form {
  margin: 20px;
}

@media screen and (max-width: 1400px) {
  .main {
    --gap: 20px;
  }
  .frame-form {
    order: 1;
  }
  .animation-form,
  .frame-form {
    flex-basis: calc(50% - var(--gap));
    margin: 0;
    flex-shrink: 1;
    flex-grow: 0;
  }
  .stage {
    order: 2;
    flex-basis: 100%;
    min-height: 70vh;
  }
}
@media screen and (max-width: 600px) {
  .main {
    --gap: 0px;
  }
  .animation-form,
  .frame-form,
  .stage {
    flex-basis: 100%;
  }
}
