.root {
    text-align: center;
}

.header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}

.animation-form {
    width: 320px;
}
.frame-form {
    width: 320px;
}

.stage {
    flex-grow: 1;
}

.main,
.stage,
.animation-form,
.frame-form {
    margin: 20px;
}
